.select {
  width: 100%;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.25rem;
  position: relative;
}

.lableRequired {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.lable {
  position: relative;
  font-family: var(--font-family-sf);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-small);
}

.input {
  align-self: stretch;
  border-radius: var(--br-8px);
  background-color: var(--color-white);
  border: 1px solid var(--color-extralight-gray);
  box-sizing: border-box;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.625rem 1rem;
  gap: var(--gap-8px);
  color: var(--color-darkgray);
  cursor: pointer;
}

.inputActive {
  border-color: var(--color-orange);
}

.value {
  flex: 1;
  position: relative;
  font-family: var(--font-family-sf);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-small);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.valueActive {
  color: var(--color-gray);
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--color-white);
  border-radius: var(--br-8px);
  box-shadow: var(--shadow);
  z-index: 10;
  overflow: hidden;
  margin-top: 0.25rem;
}

.dropdownContainer {
  padding: 8px;
}

.dropdownItem {
  padding: 12px;
  cursor: pointer;
  font-family: var(--font-family-sf);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-small);
}

.dropdownItem:hover,
.dropdownItem.selected {
  background-color: var(--hover-background-color);
  border-radius: var(--br-8px);
  transition: background-color 0.3s ease;
}
