.leftButton,
.rightButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  border-radius: 50%;
}

.leftButton {
  left: 10px;
}

.rightButton {
  right: 10px;
}
