input[type="radio"] {
  display: none;
}
.star {
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  position: relative;
}

.index {
  font-family: var(--font-family-sf);
  font-weight: var(--font-weight-regular);
  font-size: 14px;
}
